{% extends 'layout.html.twig' %}

{% block title %}Social{% endblock %}

{% block logo %}
    {# include 'default/logo.html.twig' #}
{% endblock %}
{% block content %}
<div id="contenedor-global" class="pt-5">
        <!-- Seccion Fotografía Social -->
    <section>
        <div class="container seccion pt-5 text-dark">
            <p class="h2 text-center mb-4 font-weight-bold" style="text-shadow: 1px 1px rgba(255,255,255, 0.4)">FOTOGRAFÍA SOCIAL</p>
            <br/>
            <br/>
            <p class="h3 text-center mb-3">Sabemos lo importante que es este día para tí por eso lo primero es darte las GRACIAS por confiar en nosotros.</p>
            <p class="h3 text-center mb-3">Nuestros años de experiencia sirven para que con mimo y cariño podamos conseguir los mejores resultados, gracias a la empatía tratamos de conseguir siempre tu comodidad y confianza para llegar a que gestos y momentos se acaben convirtiendo en arte, de esa forma podrás volver a vivirlos solo mirando  una imagen.</p>
        </div>
    </section>
        <!--End Seccion Fotografía Social -->

        <!-- Seccion Bodas -->
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    <section id="bodas-anchor" class="seccion-rojo">
        <div class="container seccion  p-4 text-dark">

            <p style="text-shadow: 1px 1px rgba(255,255,255, 0.4)" class="h2 text-center mb-4 font-weight-bold">BODAS</p>
            <p class="h5 text-center mb-3">Nuestro deseo es que el día de vuestra boda, además de inolvidable en vuestra memoria, lo sea también a través de las imágenes que captaremos de todos aquellos momentos que vais a vivir.
Estos momentos los definimos como inolvidables, porque van a ser el germen de vuestra vida como pareja.</p>
            <p class="h5 text-center mb-3">Nuestra filosofía es que ese día es única y exclusivamente para que lo disfrutéis vosotros, por lo que, os ayudaremos, para que prácticamente no notéis que estamos trabajando a vuestro lado.</p>
            <p class="h5 text-center mb-3">Queremos que podáis vivir la experiencia intensamente de forma natural mientras nosotros elaboramos aquellas imágenes que os construirán después todo el álbum de miradas con las que revivir un día tan especial.</p>
            <p class="h5 text-center mb-3">Una mirada especial, tanto para vosotros como para aquellas personas que tanto os quieren y que os van a acompañar en ese momento.</p>
        </div>
    </section>
        <!--End Seccion Bodas -->
        <br/>
        <br/>
        <br/>
        <br/>

        <!-- Seccion Comuniones y Bautizos -->
        <div id="comuniones-bautizos-anchor" class="seccion p-4 text-dark">
            <p class="h2 text-center mb-4 font-weight-bold">COMUNIONES Y BAUTIZOS</p>
            <p class="h3 text-center mb-3">Desde nuestro estudio queremos ser partícipes de ese momento tan especial, que seguro has imaginado.</p>
            <p class="h3 text-center mb-3">Por ello sabiendo que cada niñ@ es único, no queremos cerrarnos a una idea, tiempo, producto... queremos asesorarte desde nuestra experiencia, dándote la opción de poder llevar acabo eso que has soñado.</p>
            <p class="h3 text-center mb-3">Para eso lo primero es conseguir un ambiente relajado y distendido porque las mejores fotos son las que muestran como es tu hij@ más natural, sacando su gesto más representativo y como todo es importante tu eliges en que lugar hacer las fotos, ofreciéndote desde nuestro estudio, un bello rincón de nuestra ciudad o en su habitación.</p>
        </div>
        <!--End Seccion Comuniones y Bautizos -->
        <br/>
        <br/>
        <br/>

        <!-- Seccion Estudio -->
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    <section id="estudio-anchor" class="seccion-rojo">
        <div class="container seccion  p-4 text-dark">

            <p style="text-shadow: 1px 1px rgba(255,255,255, 0.4)" class="h2 text-center mb-4 font-weight-bold">ESTUDIO</p>
            <p class="h5 text-center mb-3">Planteamos siempre nuestras sesiones desde un clima relajado y cercano para que te sientas cómod@. En esta sesión donde variaremos entre distintas técnicas de iluminación, atrezos y fondos, conseguiremos seguro que te sientas protagonista dando un toque artístico y personal a tu imagen.</p>
        </div>
    </section>
        <!--End Seccion Bodas -->
        <br/>
        <br/>
        <br/>
        <br/>

        <div class="row" style="padding:0; margin:0; height:30vh;">
            <div class="malla-blanca"></div>
            <div class="bg-container">
                <video autoplay muted loop class="video_bg pt-5">
                    <source src="{{ asset('build/img/video.mp4') }}" type="video/mp4">
                </video>
            </div>
        </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jquery-easing') }}
    {{ encore_entry_script_tags('smoth-scroll') }}
{% endblock %}
