body {
    /*background-color: lightgray;*/
}

#navegador {
    background-color: #FA0405;
}

#navegador a {
    color: var(--dark) !important;
}

#navegador a:hover {
    color: var(--white) !important;
}
