<div id="footer" class="container-fluid text-center text-light">
    <br>
    <address>
        <strong>Aparte &copy; {{ "now"|date("Y") }}</strong>
        <br>
        apartefotografia@gmail.com
        <br>
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 677 551 784</p>
    </address>
    <!-- <ul class="social-icons-footer social-network social-circle">
        <li><a href="#" class="icoWhatsapp" title="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    </ul> -->
</div>
