{% if galeria is defined %}
<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link francois" href="{{ path('foto-academica') }}">ORLAS<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link opensans" href="{{ path('foto-academica') }}">FOTO ESCUELA<span class="sr-only">(current)</span></a>
</li>
{% else %}
<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link francois" href="#graduation-anchor">ORLAS<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link opensans" href="#foto-escuela-anchor">FOTO ESCUELA<span class="sr-only">(current)</span></a>
</li>
{% endif %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    GALERÍAS
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #FA0405;">
        {% for galeriaIndividual in galerias.galerias %}
            {% if galeriaIndividual.tipoGalleria == "Académica" %}
                <a class="dropdown-item" href="{{ path('galeria-academica', {slug: galeriaIndividual.id}) }}"><i class="fas fa-images"></i> {{ galeriaIndividual.nombreGaleria }}</a>
            {% endif %}
        {% endfor %}
    </div>
</li>
