<li class="nav-item nav-fill">
    <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">ADMINISTRACION<span class="sr-only">(current)</span></a>
</li>
{# <li class="nav-item nav-fill">
    <a class="nav-link" href="#">Votaciones<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="nav-link" href="#">Correo Masivo<span class="sr-only">(current)</span></a>
</li> #}
