<li class="nav-item nav-fill">
    <a class="nav-link francois" href="{{ path('foto-academica') }}">ACADÉMICA<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="nav-link opensans" href="{{ path('foto-social') }}">SOCIAL<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="nav-link" href="{{ path('contactar') }}">CONTACTAR<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="nav-link" href="{{ path('resenias-not-login') }}">RESEÑAS<span class="sr-only">(current)</span></a>
</li>
