<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link francois" href="#graduation-anchor">BODAS<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link opensans" href="#foto-escuela-anchor">COMUNIONES<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link opensans" href="#foto-escuela-anchor">BAUTIZOS<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="js-scroll-trigger nav-link opensans" href="#foto-escuela-anchor">ESTUDIO<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item nav-fill">
    <a class="nav-link" href="#">GALERIA<span class="sr-only">(current)</span></a>
</li>
